body {
  background-color: #fff;
}

.xv-menuwrapper .dl-menu > li.parent > a:after {
  content: "";
  display: none;
}

ul.iconList li:before {
  content: "";
  display: none;
}

.btn-primary {
  color: #f5f8fa !important;
}

.modal {
  z-index: 9999;
}
