body {
  background-color: #fff;
}

.xv-menuwrapper .dl-menu > li.parent > a:after {
  content: "";
  display: none;
}

ul.iconList li:before {
  content: "";
  display: none;
}

.btn-primary {
  color: #f5f8fa !important;
}

.modal {
  z-index: 9999;
}

#user-btn:hover,
#user-btn:focus {
  background-color: #03a9f4;
}

.input-group-text{
  margin: 0;
}

.side-bar-promo{
  text-align: center;
  margin-bottom: 10px;
}